swagger: '2.0'
info:
    title: Bookify
    version: 1.0.0
    description: Keep track of your reading habits
paths:
    /books:
        get:
            tags:
                - Books
            responses:
                '200':
                    description: Returns a list of books
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            - Decameron
                            - Romeo and Juliet
                            - It
            summary: Get all books
            description: Returns all books that are registered in API
        post:
            tags:
                - Books
            parameters:
                -
                    name: body
                    description: The book that is to be created.
                    schema:
                        $ref: '#/definitions/new-Book'
                    in: body
                    required: true
            responses:
                '201':
                    description: New Book Created Successfully
                    schema:
                        $ref: '#/definitions/new-Book'
                '400':
                    description: 'Missing some parameter, please review request data.'
                    schema:
                        $ref: '#/definitions/error'
            summary: Create a new book into the app
            description: 'Create a new book instance with its required details, for further usage.'
    '/books/{BookID}':
        get:
            tags:
                - Books
            responses:
                '200':
                    description: Returns all details of the given <Book>
            operationId: BookID
            summary: Get full details of a book
            description: Will return all details of a given <Book> based on BookID given.
        put:
            tags:
                - Books
            parameters:
                -
                    name: body
                    description: Contains new data to be changed in the specified book.
                    schema:
                        $ref: '#/definitions/new-Book'
                    in: body
                    required: true
            responses:
                '201':
                    description: Returns 201 upon successful modification of book.
                    schema:
                        $ref: '#/definitions/new-Book'
                    examples:
                        application/json:
                            -
                                Name: rqa0vl6
                                Description: a
                                ReadingTimeMin: 28
                                PageCount: 53
                                Language: ''
                                ReleaseYear: 73
                                ISBN: 44.43
                                CoverImageUrl: scyep8s
                '400':
                    description: Returns 400 when one or multiple required parameters are missing.
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: 'cannot change info, because some parameter is missing'
                '404':
                    description: 'Returns 404 when book that is to be modified, is not found by the given BookID.'
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: Book not found
        delete:
            tags:
                - Books
            responses:
                '204':
                    description: Returns 'No Content' when removal of book is successful
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: No Content
                '404':
                    description: 'Returns error, when book with specific ID does not exist.'
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: Id not found
            operationId: BookID
            summary: Delete book from app
            description: Will delete book with a given Id from the app
        parameters:
            -
                name: BookID
                description: ID of the book
                in: path
                required: true
                type: string
definitions:
    new-Book:
        description: Add new book to app
        required:
            - Name
            - Language
            - Description
            - PageCount
            - ReadingTimeMin
            - ReleaseYear
            - CoverImageUrl
            - ISBN
        type: object
        properties:
            Name:
                description: ''
                type: string
            Description:
                description: ''
                type: string
            ReadingTimeMin:
                description: ''
                type: integer
            PageCount:
                description: ''
                type: integer
            Language:
                description: ''
                type: string
            ReleaseYear:
                description: ''
                type: integer
            ISBN:
                format: double
                description: ''
                type: number
            CoverImageUrl:
                description: ''
                type: string
        example:
            Name: NewBookName
            Description: NewBookDescription
            ReadingTimeMin: 1
            PageCount: 1
            Language: NewBookLanguage
            ReleaseYear: 2000
            ISBN: 1111111111111
            CoverImageUrl: NewBookCoverImageUrl
    error:
        title: Root Type for error
        description: Error
        type: object
        properties:
            error:
                type: string
        example:
            error: Error message
    delete-Book:
        title: Root Type for delete-Book
        description: ''
        type: object
        properties:
            BookID:
                type: string
        example:
            BookID: 019adf28-5ff1-70ee-85b3-2ff2ec27ce17
