swagger: '2.0'
info:
    title: Bookify
    version: 1.0.0
    description: Keep track of your reading habits
paths:
    /books:
        get:
            tags:
                - books
            responses:
                '200':
                    description: Returns a list of books
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            - Decameron
                            - Romeo and Juliet
                            - It
            summary: Get all books
            description: Returns all books that are registered in API
